/*
=============== 
font
===============
*/

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap");

/*
=============== 
variables
===============
*/

:root {
  /* colors */
  --black: hsl(230, 60%, 8%);
  --white: hsl(0, 0%, 100%);
  --teal: hsl(179, 80%, 58%);
  --darkblue: hsl(206, 84%, 22%);
  --gray: hsl(225, 14%, 53%);
  --red: hsl(343, 100%, 58%);

  /* spacing */
  --max-width: 1200px;
  --section-spacing: 5rem 2rem;
  --gap: 3rem;

  /* radius */
  --main-radius: 1rem;
  --secondary-radius: 4rem;

  /* shadows */
  --main-shadow: 0.1rem 0.3rem 1rem rgba(0, 0, 0, 0.1);

  /* transitions */
  --main-transition: all 0.3s ease-in-out;

  /* font sizes */
  --xxl: 4.5rem;
  --xl: 4rem;
  --lg: 3.5rem;
  --md: 3rem;
  --sm: 2.5rem;
  --xs: 2rem;
  --xxs: 1.5rem;
}

/*
=============== 
resets
===============
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: "Manrope", sans-serif;
}

img {
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

input {
  font-family: inherit;
}

/*
=============== 
global classes
===============
*/

.container {
  width: 95vw;
  max-width: var(--max-width);
  margin: 0 auto;
}

.heading-styles {
  font-weight: 800;
  letter-spacing: 0.1rem;
  line-height: 1.3;
}

.text-styles {
  font-weight: 500;
  letter-spacing: 0.1rem;
  line-height: 1.6;
}

/*
=============== 
nav
===============
*/

.nav {
  width: 100%;
}

.nav__content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.nav__logo {
  width: 20rem;
}

/*
=============== 
hero
===============
*/

.hero {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding-top: 10rem;
}

.hero__info {
  text-align: center;
  position: relative;
}

.hero__bg-pattern {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero__content {
  position: relative;
  z-index: 5;
}

.hero__title {
  color: var(--white);
  font-size: 4.8rem;
}

.hero__title-span {
  color: var(--teal);
}

.hero__lead {
  color: var(--gray);
  font-size: 1.5rem;
  padding: 2rem 0;
}

.hero__icon {
  width: 3rem;
}

/*
=============== 
features
===============
*/

.features {
  padding: 20rem 2rem 10rem 2rem;
}

.features__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10rem;
}

.feature {
  text-align: left;
}

.feature:nth-child(odd) {
  transform: translateY(-50px);
}

.feature__img-container {
  background-color: var(--darkblue);
  border-radius: var(--secondary-radius);
  padding: 2rem;
  text-align: center;
}

.feature__img {
  width: 10rem;
}

.feature__img-lg {
  width: 16.5rem;
}

.feature__title {
  font-size: 1.8rem;
  padding: 2rem 0;
}

.feature__desc {
  font-size: 1.5rem;
  color: var(--gray);
}

/*
=============== 
section title
===============
*/

.section-title {
  text-align: center;
  padding: 5rem 2rem 10rem 2rem;
}

.section-title__heading {
  font-size: 3.2rem;
}

.section-title__desc {
  color: var(--gray);
  font-size: 1.5rem;
  width: 50%;
  margin: 0 auto;
  padding: 2rem 0;
}

/*
=============== 
plans
===============
*/

.plans {
  padding: 10rem 2rem;
}

.plans__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap);
}

.plan {
  padding: 3rem;
  border-radius: var(--main-radius);
}

.plan__content--left {
  transform: translateY(-2rem);
}

.plan__content--right {
  transform: translateY(-4rem);
}

.plan--free {
  background-color: var(--darkblue);
}

.plan--paid {
  background-color: var(--teal);
  color: var(--black);
}

.plan__icon {
  width: 7rem;
  transform: translateY(-6rem);
}

.plan__icon--right {
  transform: translateY(-8rem);
}

.plan__title {
  font-size: 2.5rem;
}

.plan__desc {
  font-size: 1.5rem;
  padding: 2rem 0;
}

.plan__price {
  font-size: 4rem;
  display: flex;
  align-items: center;
}

.plan__price-span {
  font-size: 1.5rem;
}

.plan__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
}

.plan__item {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.5rem;
}

.plan__check {
  width: 2rem;
}

/*
=============== 
cta
===============
*/

.cta {
  position: relative;
}

.cta__bg-pattern {
  position: absolute;
  z-index: 1;
}

.cta__content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 5;
  padding: 10rem 2rem;
}

.cta__title {
  font-size: 3.2rem;
  padding-bottom: 2rem;
}

.cta__input-container {
  display: flex;
  gap: 3rem;
}

.cta__input,
.cta__submit {
  outline: 0;
  border-radius: var(--secondary-radius);
  padding: 1.2rem 2rem;
  font-size: 1.5rem;
}

.cta__input {
  background-color: var(--darkblue);
  border: 0.1rem solid var(--darkblue);
  color: var(--white);
}

.cta__input::placeholder {
  color: var(--white);
}

.cta__submit {
  background-color: var(--teal);
  border: 0.1rem solid var(--teal);
}

/* tag */
.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 2rem 2rem 1rem 2rem;
  background-color: var(--black);
}

.tag__heading {
  font-size: var(--xxs);
  color: var(--white);
}

.tag__link {
  color: var(--teal);
  outline: 0;
}

.tag__link:hover,
.tag__link:focus {
  text-decoration: underline;
}

.tag__logo {
  width: 5rem;
}
